[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==20.8b1"
tox = "*"
sphinx = "*"
sphinx-autobuild = "*"

[packages]
docker = "*"
click = "*"
colorama = "*"
appdirs = "*"
requests = "*"
tabulate = "*"
sqlalchemy = "*"
pyyaml = "*"
halo = "*"

[requires]
python_version = "3.6"
