[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==19.10b0"
mkdocs = "*"
mdx-truly-sane-lists = "*"

[packages]
docker = "*"
click = "*"
colorama = "*"
appdirs = "*"
requests = "*"
tabulate = "*"
yaspin = "*"

[requires]
python_version = "3.6"
