Source: wilfred
Section: python
Priority: extra
Maintainer: Vilhelm Prytz <vilhelm@prytznet.se>
Build-Depends: debhelper (>= 9), python3.6, python3-setuptools, dh-virtualenv (>= 0.8)
Standards-Version: 3.9.5

Package: wilfred
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python (>= 3.6), ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: A CLI for managing game servers using Docker.
