Sphinx==3.5.4
sphinx-click==2.7.1

# From Wilfred dependencies (used for autodoc)
docker==5.0.0
click==7.1.2
colorama==0.4.4
appdirs==1.4.4
requests==2.25.1
tabulate==0.8.9
sqlalchemy==1.4.10
pyyaml==5.4.1
halo==0.0.31
