Sphinx==4.5.0
sphinx-click==4.0.1

# From Wilfred dependencies (used for autodoc)
docker==5.0.3
click==8.1.2
colorama==0.4.4
appdirs==1.4.4
requests==2.27.1
tabulate==0.8.9
sqlalchemy==1.4.35
pyyaml==6.0
halo==0.0.31
